body {
    background-color: Black;
    color: #9a8866;
    font-family: 'Bender';
    text-align: center;
   
}

.logo {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    display: block;
    text-align: center;
}

.Customs{
    
}

